@import "../assets/Colors";

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    // opacity: 0.7;
    // border-radius: 2em;
    // bottom: 50%;
    // right: 50%;
    &__container {
        width: 8em;
        height: 8em;
        background-color: $lightGray;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 2em;
    }
}
